* {
    margin: auto;
    scroll-behavior: smooth
}

.title {
    font-family: skolar-latin, serif;
font-weight: 400;
font-style: normal; font-size: 36px; display: inline-block;
    padding: 15% 35%;
    text-align: center;
    color: white;
    line-height: 1
}
h2 {
    font-family: skolar-latin, serif;

font-weight: 400;

font-style: normal;
    padding:  45%;
}
p { font-family: skolar-latin, serif;

font-weight: 400;

font-style: normal;
    padding: 15% 30%;
}

.parallax {
  /* The image used */
  background-image: url("img/witchcave-01.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    .parallax1 {
  /* The image used */
  background-image: url("img/waves-01.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    .parallax {
  /* The image used */
  background-image: url("img/witchcave-01.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    .parallax {
  /* The image used */
  background-image: url("img/witchcave-01.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.arrow {
    margin: -10% 50% 0 50%;
}
.blue {color: black}

.blue:hover {color: #7997F8}

.red {color: black}

.red:hover {color: #8a0303}
